// Partial: Header

header {
	height: 75px;
    background: $iu-black;
    
    .branding {
        display: block;
        float: left;

        a {
            font-size: 2.1rem;
            font-weight: 300;
            font-family: $primary-font-face;
            color: white;
            padding: 20px 0;
            display: block;
            transition: 0.5s opacity;

            &:hover {
                opacity: 0.75;
                text-decoration: none;
            }

            span {
                font-weight: 700;
                font-size: 2.4rem;
                color: $iu-red;
                margin-left: 2px;
            }
        }
    }
}
nav.navbar {
    height: 45px;
    background: $iu-black;
    border: none;
    border-radius: 0;
    margin: 0;

    @media #{$screen-xs} {
        background: transparent;
        min-height: 0px;
        height: 0;
    }

    > .container {
        border-top: 1px solid lighten($iu-black, 15%);
    }

    .navbar-toggle {
        top: -64px;
        border: none;

        &:hover,
        &:focus {
            background: transparent;
        }
    }
    .navbar-collapse {
        padding: 0;
        background: $iu-black;

        @media #{$screen-xs} {
            top: -50px;
            position: relative;
            z-index: 99;
            border: none;

            .icon-bar {
                background-color: white;
            }
        }
    }
    .navbar-nav {
        margin: 0;

        li {
            &:hover {
                a {
                    background: $iu-black;
                    color: $iu-red;
                }
            }
            &.active {
                &:hover {
                    a {
                        background: $iu-black;
                        color: white;
                    }
                }
                a {
                    background: $iu-black;
                    color: white;
                }
            }
            
            a {
                font-weight: 700;
                padding-top: 14px;
                font-family: $primary-font-face;

                @media #{$screen-xs} {
                    padding: 15px;
                }
            }
        }
    }
    .navbar-form {
        padding: 0;
        margin: 0;

        @media #{$screen-xs} {
            display: none;
        }

        .form-group {
            .glyphicon {
                color: lighten($iu-black, 25%);
            }
            .form-control {
                background: transparent;
                border: transparent;
                font-family: $primary-font-face;
                font-style: italic;
                color: lighten($iu-black, 25%);
                padding: 12px 12px 15px;
                height: 49px;
                width: 150px;
                transition: all 0.5s;

                &:focus,
                &:active {
                    box-shadow: none;
                    color: white;
                    font-style: normal;
                    width: 220px;
                }
                &:hover {
                    color: white;
                }
            }
        }
    }
}
