// Partials: Homepage

.homepage-hero {
    height: 290px;
    text-align: center;
    background: $iu-beige;

    h1 {
        font-family: $secondary-font-face;
        font-size: 48px;
        font-style: italic;
        margin: 90px 0 15px;

        strong {
            font-family: $secondary-font-face;
        }

        @media #{$screen-xs} {
            margin: 25px 0 15px;
        }
    }
    h2 {
        font-family: $primary-font-face;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
        color: $iu-darkbeige;
    }
}
.homepage-slideshow {
    background: darken($iu-beige, 5%);
    padding-bottom: 20px;
    height: 350px;

    .header-label {
        margin-top: -20px;
    }
}
.homepage-content {
    margin-top: 50px;

    p {
        font-family: $primary-font-face;
        font-weight: 300;

        a {
            color: $iu-red;
        }
    }
}
