.presenter {
    border: 1px solid #F1F2F2;
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.5s all;
    min-height: 240px;

    @media #{$screen-sm} {
        min-height: 0;
    }

    @media #{$screen-xs} {
        min-height: 0;
    }

    &:hover {
        background: #F1F2F2;
    }

    h3 {
        margin: 0 0 6px;
    }
    h5 {
        margin: 0 0 10px;
        font-family: $secondary-font-face;
        font-size: 16px;
        font-style: italic;
    }
    ul {
        margin-bottom: 0;

        li {
            a {
                color: $iu-black;          
                display: block;

                &:hover {
                    color: $iu-red;
                }
            }
        }
    }
}