// Partials: Typography

html, body {
    font-family: $primary-font-face;
	font-size: 62.5%;
    font-size: 1.4rem;

    * {
        font-family: $primary-font-face;
    }

    h1, h2, h3 {
        font-family: $secondary-font-face;
    
        a {
            font-family: $secondary-font-face;
        }
    }
    h1 {
        font-size: 4.2rem;
    }
    h5 {
        &.header-label {
            text-align: center;
            font-weight: 900;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: $sckls-darkbeige;
            margin-top: 15px;
            margin-bottom: 20px;
            
            &:hover {
                text-decoration: none;
            }
            &:before,
            &:after {
                content: '\2014';
                margin: 0 8px;
            }
        }
    }
    h6 {
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: darken($sckls-lightbeige, 20%);
    }
    
    p, span {
        font-family: $secondary-font-face;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;

        > a {
            font-family: $secondary-font-face;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
    a {
        text-decoration: none !important;
    
        &:hover {
            text-decoration: none;
        }
    }
}